*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
    margin :2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#NavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  li a.active{
    background-color: blue;
  }
  .search{
    align-items: center;
    justify-content: center;
  }
  #search{
    padding: 5px;
    margin:  5px;
    border: 2px solid black;
    border-radius: 15px;
    width: 50vw;
  }
  #button{
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: blue;
    color: white;
  }
 #line{
  border: 2px solid black;
 }